.depend
*~
*.avi
*.bak
*.[oa]
*.cdb
*.cgi
*.cgi.dbg
*.dis
*.exe
*.cflow
*.fig.*
*.map
*.lo
*.ot
*.out
*pcm16
*.so
*.swo
*.swp
*.test
*.tar.gz
*.new
*.old
*.alexr
*.ar
TAGS
lib/p3-cm/test-p3-cm
lib/test/mat_stream/_mat_stream_test.c
lib/test/mat_stream/mat_stream_test.py
lib/test/stream/_stream_test.c
lib/test/stream/stream_test.py
tags
cscope.files
lib/libcgi/libcgi.pot
.i686/
.arm/
.armeb/
.ppc/
Session.vim
